<h2>Paises</h2>
<hr>

<ul class="list-group">
  <!--<li class="list-group-item"><a class="nav-link" href="home" >Home Page</a></li>
  <li class="list-group-item"><a class="nav-link" href="about" >About Page</a></li>
  <li class="list-group-item"><a class="nav-link" href="contact" >Contact Page</a></li>

  <li class="list-group-item"><a class="nav-link" href="countries/by-capital" >Por capital</a></li>
  <li class="list-group-item"><a class="nav-link" href="countries/by-region" >Por region</a></li>
  <li class="list-group-item"><a class="nav-link" href="countries/by-country" >Por pais</a></li>

  <button type="button" routerLink="home">Home Page</button>
  <button type="button" routerLink="about">About Page</button>
  <button type="button" routerLink="contact"> Contact Page</button>
  <hr>-->
  <button type="button" routerLink="countries/by-capital">Por Capital</button>
  <button type="button" routerLink="countries/by-region">Por Region</button>
  <button type="button" routerLink="countries/by-country">Por Pais</button>




</ul>



